nvim/lazy-lock.json
sdcv
blur-me
mutter-rounded
blur-my-shell
blur-my-shell
blur-my-shell
mutter-rounded
mutter-rounded
catimg
nvim/lua/my_plugins/lua/fanyi
nvim/translate
nvim/lua/.DS_Store
nvim/.DS_Store
.DS_Store
.DS_Store
ranger/plugins
